.section {
    background-color: black;
}
p ,h1{
    color:white;

}

@media (min-width: 217px) {
    .hero-banner img {
        margin-top: -82px !important;
    }
  }
  h1 {
    display: inline; /* Make the h1 tag behave like an inline element */
  }
  
  .second-part {
    display: inline; /* Ensure the spans appear on the same line */
  }
  