

<ion-content
[scrollEvents]="true"

><main>
  <article>

    <!-- 
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Design</h3>

                <p class="body-sm">
                  Web design combines creativity and technical expertise to create visually appealing and user-friendly websites
                  that effectively communicate messages and meet client objectives.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm"> Front End Development</h3>

                <p class="body-sm">
                  Frontend development involves building the user interface and experience of websites and web applications,
                  utilizing HTML, CSS, and JavaScript to create engaging and responsive designs.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Backend Development</h3>

                <p class="body-sm">
                  Backend development with Java Spring Boot and Node.js involves building robust server-side applications,
                  leveraging the power of these frameworks to handle data, logic, and communication with the frontend.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">FullStack Development</h3>

                <p class="body-sm">
                  Full stack development integrates frontend and backend technologies to create end-to-end solutions,
                  utilizing frameworks like Java Spring Boot, Node.js, and modern JavaScript libraries for seamless user experiences.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Database Management</h3>

                <p class="body-sm">
                  Database management involves organizing, storing, and retrieving data efficiently, using tools like SQL,
                  NoSQL, and ORMs to ensure data integrity and scalability in applications and systems.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">UI UX</h3>

                <p class="body-sm">
                  UI/UX design focuses on creating intuitive and visually appealing interfaces, considering user needs
    and behaviors to enhance usability and provide seamless interactions across digital platforms.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
</ion-content>